  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>EP-SFT Web site</h2>
              <a href="http://ep-dep-sft.web.cern.ch/" class="btn btn-default btn-xl wow tada">Visit the site</a>
          </div>
      </div>
  </aside>
