<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Description of our work!</h2>
                <hr class="light">
                <p class="text-faded">Our team EP-SFT/SPI is responsible for all operations related to Continuous Integration of specific CERN supported and external software,  providing consistent releases of them to the LHC experiments and the theory community.</p>
                <p class="text-faded">We provide support to the development activities of the CERN  experiments with technical assistance and further services coordinated by the bi-weekly Librarians and Integrators Meeting.</p>
                <p class="text-faded">A Jira issue tracking instance is also supported by our team in coordination with IT services</p>
                <p class="text-faded">SFT Web site maintenance and support is part of our services </p>
                <p class="text-faded">The activities of the group related to the CERNVM project is also part of our responsibilities.</p>

                <a href="#services" class="btn btn-default btn-xl">Services!</a>
            </div>
        </div>
    </div>
</section>
