<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Software Process Integration</h1>
            <h2>Software For CERN Experiments</h2>
            <hr>
            <p>The Packages & Releases project (formerly "LCG SPI") provides consistent releases of external software and the LCG applications area projects to the LHC experiments and the theory community !</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a><br><br><br>
                    <img src="img/sft.png"  alt="SFT Group">


        </div>
    </div>
</header>
