<section class="no-padding" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Related Projects</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
 
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://cernvm.cern.ch/" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="CERNVM">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Software
                            </div>
                            <div class="project-name">
                                CERNVM
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://root.cern.ch/" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                               Data Analysis and Visualization Software
                            </div>
                            <div class="project-name">
                                ROOT
                            </div>
                        </div>
                    </div>
                </a>
            </div>
          <div class="col-lg-4 col-sm-6">
                <a href="https://geant4.web.cern.ch/" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Simulation Software
                            </div>
                            <div class="project-name">
                               GEANT4
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://hepmc.web.cern.ch/hepmc/index.html" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Simulation Software
                            </div>
                            <div class="project-name">
                                HepMC
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://swan.web.cern.ch/" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Notebook - Root related Software
                            </div>
                            <div class="project-name">
                               SWAN
                            </div>
                        </div>
                    </div>
                </a>
            </div>
  
            <div class="col-lg-4 col-sm-6">
                <a href="http://hep-fcc.github.io/FCCSW/index.html" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                R&D Project
                            </div>
                            <div class="project-name">
                                Software for FCC
                            </div>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-lg-12 text-center">
                <hr class="primary">
            </div>
 


        </div>
    </div>
</section>
