<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">


            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!--i class="fa fa-4x fa-user wow bounceIn text-primary"></i-->
                    <a href="http://lcginfo.cern.ch" target="_blank">
                        <img src="img/lcg-lib-small.jpg" alt="LCG lib" height="82" width="82">
                        <h3>LCG releases</h3> 
                     </a>
                    <p class="text-muted"> Software packages like mathematical libraries, DBs, Compilers etc which  used in specific software at CERN are recompiled and made available for specific platforms.</p>
                </div>
            </div>



            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="https://epsft-jenkins.cern.ch/view/LCG%20Nightlies/" target="_blank">
                        <img src="img/jenkins.png" alt="Nightly builds" height="82" width="82">
                    <h3>Nightly builds</h3></a>
                    <p class="text-muted">Software, of the LCG Application Area stack, for the LCG AA projects. They may be used to provide prompt feedback on integration and platform problems by AA developers.</p>
                </div>
            </div>

           <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="https://indico.cern.ch/category/1449/" target="_blank">
                        <img src="img/meeting-small.jpg" alt="Nightly builds" height="82" width="82">
                    <h3>L.I.M.</h3></a>
                    <p class="text-muted">The needs for technical assistance and further services to CERN experiments are defined by the Bi-weekly Librarians and Integrators Meetings (L.I.M). </p>
                </div>
            </div>

           <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="http://sft.its.cern.ch" target="_blank">
                        <img src="img/jira.png" alt="SFT Jira" height="82" width="82">
                    <h3>SFT Jira</h3></a>
                    <p class="text-muted">We manage and maintain our own Jira instance to track issues for most of the software developed in the SFT group and also a few projects from the experiments. </p>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!--i class="fa fa-4x fa-user wow bounceIn text-primary"></i-->
                    <a href="https://gitlab.cern.ch/sft" target="_blank">
                        <img src="img/gitlab.png" alt="LCG @ Gitlab" height="82" width="82">
                        <h3>LCG @ Gitlab</h3> 
                     </a>
                    <p class="text-muted"> CMake and Jenkins scripts scripts, included documentation for all LCG packages.</p>
                </div>
            </div>



            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="http://cdash.cern.ch/index.php?project=LCGSoft" target="_blank">
                        <img src="img/cdash.gif" alt="CDASH for LCG Nightly jobs" height="82" width="82">
                    <h3>Nightlies Status</h3></a>
                    <p class="text-muted">CDASH & <a href="https://razumov.web.cern.ch/razumov/temp/report.html" target="_blank">Ivan's report</a> are used to monitor LCG nightlies status listed by category</p>
                </div>
            </div>

           <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="http://lcgdocs.web.cern.ch/lcgdocs" target="_blank">
                        <img src="img/document.png" alt="LCG infrastructure documentation" height="82" width="82">
                    <h3>Documentation</h3></a>
                    <p class="text-muted">Documentation for SPI related activities including specific operations HOWTO's. </p>
                </div>
            </div>

           <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="https://sft-grafana.web.cern.ch/d/MZpr6Qgmk/buildnodesmonitor" target="_blank">
                        <img src="img/grafana.png" alt="SFT Jira" height="82" width="82">
                    <h3>LCG Grafana</h3></a>
                    <p class="text-muted">Graphic display monitoring the main parameters of LCG cloud nodes (memory, space, cpu etc)  </p>
                </div>
            </div>


            <div class="col-lg-12 text-center">
                <br>
                <hr class="primary">
            </div>



            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="https://docs.google.com/document/d/1j4T0LZz3N3pvD2Ih-jvMttirP7zTuE2kmgzJ5C1jMvk/edit#heading=h.qwbdiddhxnlc" target="_blank">
                        <img src="img/shift-md.png" alt="Shifts for LCG Nightly jobs" height="82" width="82">
                    <h3>Nightlies Shifts</h3></a>
                </div>
            </div>

           <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="https://judy.cern.ch/" target="_blank">
                        <img src="img/foreman.png" alt="Foreman-Judy" height="82" width="82">
                    <h3>Foreman - Judy</h3></a>
                </div>
            </div>

           <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="https://openstack.cern.ch/project/" target="_blank">
                        <img src="img/openstack.png" alt="Openstack" height="82" width="82">
                    <h3>Openstack</h3></a>
                </div>
            </div>

           <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="https://gitlab.cern.ch/ai/it-puppet-hostgroup-lcgapp" target="_blank">
                        <img src="img/puppet.png" alt="Puppet" height="82" width="82">
                    <h3>Puppet@LcgApp</h3></a>
                </div>
            </div>



            <div class="col-lg-12 text-center">
                <br>
                <hr class="primary">
            </div>




        </div>



    </div>
 
</section>
